<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Global Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='discord.css') }}">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
</head>
<body>

<div id="welcome-screen" class="welcome-screen">
    <h1>👋 Welcome back, {{ user }}</h1>
    <button onclick="enterChat()">Go to messages</button>
</div>


<div class="chat-container">

    <div class="chat-header">
        💬 Global Chat
    </div>

    <form method="POST" action="/clear" style="margin:10px;">
        <button style="background:#ed4245;color:white;border:none;padding:6px 10px;border-radius:4px;">
            🗑️ Delete history
        </button>
    </form>

    <div id="messages" class="chat-messages">
        {% for m in messages %}
            <div class="message">
                <b>{{ m.user }}</b>: {{ m.msg }}
            </div>
        {% endfor %}
    </div>

    <form id="chat-form" class="chat-input">
        <input id="message" autocomplete="off" placeholder="Message #global">
        <button>Send</button>
    </form>

</div>

<script>
    const USER = "{{ user }}";
    const socket = io();

    function addMessage(user, msg) {
        const div = document.createElement("div");
        div.innerHTML = `<b>${user}</b>: ${msg}`;
        document.getElementById("messages").appendChild(div);
        messagesDiv.appendChild(div);
    }

    socket.on("chat_message", function(data) {
        console.log("Nuevo mensaje recibido:", data); // Para debug
        addMessage(data.user, data.msg);
    });
    
    document.getElementById("chat-form").addEventListener("submit", function(e) {
        e.preventDefault();
        const input = document.getElementById("message");

        if (input.value.trim() === "") return;

        socket.emit("chat_message", {
            user: USER,
            msg: input.value
        });

        input.value = "";
    });

    function enterChat() {
        document.getElementById("welcome-screen").style.display = "none";
}


</script>

</body>
</html>
